.home h3 {
    font-size: 18px;
    font-weight: 700;
    color: #6a6a6a;
}

.home .headerText {
    padding: 10px 5%;
    margin-bottom: 10px;
    border-bottom: 1px solid #dddddd;
    box-shadow: 0 4px 10px -5px #e0e0e0;
}

/* style the container for the projects */
.home .projectsContainer {
    margin-bottom: 70px;
}

/* style the display when no projects exist */
.home .noProjects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20% 8%;
}

    .home .noProjects img {
        width: 60%;
        height: 60%;
        margin-bottom: 15%;
    }

    .home .noProjects p {
        font-weight: 700;
        font-size: 18px;
        color: #8f8f8f;
        text-align: center;
    }


/* style the projects being displayed */
.home .project {
    margin: 11px;
    padding-bottom: 10px;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    box-shadow: 0px 5px 5px -5px #d6d4d4;
}

    .home .project:hover {
        background: #d7d7d717;
    }

/* add a radial effect to clicked projects
    CITATION -- https://newsakmi.com/news/tech-news/software/how-to-recreate-the-ripple-effect-of-material-design-buttons/

.home .project  {
    background-position: center;
    transition: background 0.4s;
}

.home .project:hover {
        background: #47a7f500 radial-gradient(circle, transparent 1%, #f4f4f4 1%) center/15000%;
    cursor: pointer;
        }

.home .project:active {
        background-color: #ffffff;
        background-size: 100%;
        transition: background 0s;
    }
 end citation */

.home .projectBody {
    display: flex;
    padding-right: 25px;
}

.home .projectCheck {
    margin: 0 15px;
    margin-top: 12px;
    border: 3px solid #c0c0c0;
    background: #ffffff;
    width: 25px;
    height: 25px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.home .checked {
    background: #5dcc5d;
    height: 15px;
    width: 15px;
    border-radius: 4px;
}

.home .projectTitle {
    padding-top: 10px;
}

    .home .projectTitle p {
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 4px;
    }

.home .project.complete {
    background: #2bff5b1a;
    color: #27a644;
}

.home .project.overdue {
    background: #ffc1071c;
    color: #d98843;
}
