/* style the container for the create project page */
.createProject {
}

.createProject .headerText {
    padding: 10px 5%;
    margin-bottom: 10px;
    border-bottom: 1px solid #dddddd;
    box-shadow: 0 4px 10px -5px #e0e0e0;
}

/* style the containter with the create project components */
    .createProject .createProjectContainer {
        padding: 0 5%;
        margin-bottom: 60px;
    }

/* style the create project forms */
.createProject .createProjectContainer form {
    display: flex;
    flex-direction: column;
}

/* style the form labels */
.createProject form label {
    font-weight: 600;
    color: #787676;
    margin-bottom: 5px;
}

.createProject .createProjectContainer .inputGroup {
    margin-bottom: 10px;
}

.error-message {
    /* style the error context below fields */
    width: 100%;
    font-size: 70%;
    height: 10px;
    color: #c80909;
}

.createProject .createProjectContainer form > div.cohort-row {
    /* style the "This is a Cohort Project" checkbox*/
    display: flex;
    margin-bottom: 3px;
    align-items: center;
}

    .createProject .createProjectContainer form > div.cohort-row label {
        margin-bottom: 0;
        margin-left: 10px;
        font-weight: 500;
    }

.createProject .createProjectContainer form input[type="text"],
.createProject .createProjectContainer form input[type="datetime-local"],
.createProject .createProjectContainer form select {
    border: 1px solid #e1e4e8;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
    transition: all 0.4s ease-in-out;
}

.createProject .createProjectContainer form input:hover,
.createProject .createProjectContainer form select:hover {
    border: 1px solid #0284fe;
}

.createProject .createProjectContainer form input.error,
.createProject .createProjectContainer form select.error {
    border: 1px solid #c80909;
    color: #c80909;
}

.createProject .createProjectContainer form button {
    border: none;
    border-radius: 5px;
    font-weight: 500;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    color: #0067c8;
    background: #dceeff;
    border: 1px solid transparent;
}

    .createProject .createProjectContainer form button:hover {
        box-shadow: 0 0 1px 0 rgba(8, 11, 14, 0.06), 0 3px 3px -1px rgba(8, 11, 14, 0.1);
    }

    .createProject .createProjectContainer form button:focus {
        outline: none;
        border: 1px solid #0284fe;
    }

/* Style the create page status message */

.createProject form div.statusMessage {
    font-size: small;
    font-weight: bold;
    color: #a0a0a0;
    margin-top: 4px;
    margin-bottom: 0;
}



/* TABLET SCREEN SIZE styles */
@media screen and (min-width: 650px) {
    .createProject .createProjectContainer {
        margin: 10px 10% 40px 10%;
    }
}

/* DESKTOP SCREEN SIZE styles */
@media screen and (min-width: 1025px) {
    /* style the containter with the create project components */
    .createProject .createProjectContainer {
        margin: 20px 20% 40px 20%;
    }


}
